<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Analyze"
            visible="true"
            id="com.rockwellcollins.spear.translate.actionSet">
         <menu
               label="SpeAR"
               id="translateMenu">
            <separator name="translateGroup">
            </separator>
         </menu>
         <action
               label="&amp;Analyze"
               icon="icons/sample.gif"
               class="com.rockwellcollins.spear.translate.actions.Spear2Lustre"
               tooltip="Analyze SpeAR File"
               menubarPath="translateMenu/translateGroup"
               toolbarPath="translateGroup"
               id="com.rockwellcollins.spear.translate.Spear2Lustre">
         </action>
      </actionSet>
   </extension>
    <extension point="org.eclipse.ui.views">
      <category
            id="com.rockwellcollins.spear.translate"
            name="SpeAR View">
      </category>
        <view
              category="com.rockwellcollins.spear.translate"
              class="com.rockwellcollins.spear.translate.views.JKindResultsView"
              icon="icons/spear_icon.png"
              id="com.rockwellcollins.spear.translate.views.jKindResultsView"
              name="Analysis Results"/>
		<view
              category="com.rockwellcollins.spear.translate.lustre"
              class="com.rockwellcollins.spear.translate.views.JKindCounterexampleView"
              icon="icons/spear_icon.png"
              id="com.rockwellcollins.spear.translate.views.jKindCounterexampleView"
              name="Counterexample"/>              
   </extension>

</plugin>
